<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="/css/style.css"
    rel="stylesheet"
    type="text/css">
  <title>Auth App | Home</title>
</head>

<body>
  <header class="auth-form-header">
    <h1>Hi <%= name %>!</h1>
  </header>
  <main>
    <h3>Page that changes whether you're logged in</h3>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quibusdam earum voluptatum libero
      blanditiis maiores, quia architecto molestias expedita velit, dolorem ex nesciunt debitis quod odit
      illum!
      A laudantium quod repellendus accusamus ratione laborum eos neque. Earum hic officiis sapiente illo
      alias
      cum recusandae, omnis nesciunt nisi pariatur facilis ipsum eveniet mollitia ex iusto commodi aut
      incidunt
      non magni impedit! Labore, sed. Natus, assumenda incidunt possimus optio qui esse quaerat cumque sequi
      hic
      aliquid perspiciatis provident, accusantium voluptas aspernatur et eum nemo molestias deleniti.
      Repudiandae perferendis doloremque nihil quisquam odit, ea reprehenderit optio adipisci nesciunt facilis
      atque iusto, praesentium corporis?</p>
  </main>


</body>

</html>